@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.justify-content-end {
  display: flex;
  align-items: center;
  height: auto !important;
}

#cruise-img {
  width: 240px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.n-res {
  margin: 0 !important;
  padding-top: 40px !important;
  margin-left: 170px !important;
  text-align: center;
  color: red;
  background-color: #96bf0219;
}

.t-center {
  text-align: center;
}

.hidden {
  display: none;
  z-index: -99;
}

.gold-button {
  background-color: rgb(196, 144, 13);
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.gold-button-1 {
  background-color: #97bf02;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.gold-text {
  color: black;
}

.cruises-container > * {
  margin: 10px 10px;
}

.cruises-container {
  padding-top: 40px;
  width: 80%;
  margin-left: 20%;
}

.add-new-container {
  align-self: flex-end;
}

.cruise-image {
  width: 100%;
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.cruise-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.cruise-list-item {
  width: 300px;
  border: 1px solid rgb(196, 144, 13);
  border-radius: 15px;
  margin: 5px 20px;
  list-style: none;
}

.cruise-list-button-container {
  align-self: flex-end;
  margin-bottom: 15px;
}

.cruises-list-view {
  text-align: center;
}

.cruises-list-view > *:not(:first-child) {
  margin: 10px 0;
}

.cruises-list-reserve-button-container {
  align-self: center;
  margin: 25px 0;
}

.new-cruise-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin: 0;
  padding: 0;
}

.shown {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#cruises-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.form-element,
.form-element label,
.form-element label input {
  width: 100%;
  margin: 0;
}

.form-element label input {
  padding: 30px;
  font-size: 20px;
}

.form-element .gold-button {
  margin-right: 200px;
  margin-left: 200px;
}

.delete-btn {
  background-color: red;
}
